.adding-game-bady {
  h3 {
    padding-left: 0 !important;
  }
  .inputs-wrapper {
    background-color: #eaeff3;
    padding: 40px 20px;
    margin-bottom: 25px;

    .button {
      height: 43px;
    }

    .first-row {
      margin-bottom: 10px;

      .input-wrapper:last-child {
        padding: 0;
        @include media-breakpoint-down(lg) {
          & {
            padding-right: 15px;
            padding-left: 15px;
          }
        }
      }
    }
    .second-row {
      .row {
        align-items: flex-end;

        .group {
          .row {
            align-self: flex-end;
            .btn-wrapper {
              padding: 0;

              @include media-breakpoint-down(lg) {
                & {
                  padding-right: 15px;
                  padding-left: 15px;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
              }

              .button {
                width: 100%;
              }
            }
          }
        }
      }
      .outer-btn-wrapper {
        @include media-breakpoint-down(sm) {
          .button {
            width: 100%;
          }
        }
      }
    }
  }

  h4 {
    color: #061836;
    font-family: "Encode-Sans";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.36px;
    line-height: 41px;
    padding-left: 20px;
  }
  .table-wrapper {
    max-height: 510px;
    overflow-y: auto;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    padding: 10px 10px;

    table {
      @include media-breakpoint-down(lg) {
        display: inline-table;
      }
    }
  }
}
