.create-player-bady {
  .inputs-wrapper {
    background-color: #eaeff3;
    padding: 40px 35px;
    margin-bottom: 25px;

    .first-row,
    .second-row {
      display: flex;
      justify-content: space-between;
      .button {
        height: 43px;
      }
      .input-wrapper {
        select {
          height: 43px;
        }
      }
    }
    .first-row {
      margin-bottom: 20px;
    }
  }
  h4 {
    color: #061836;
    font-family: "Encode-Sans";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.36px;
    line-height: 41px;
    padding-left: 20px;
  }
  .table-wrapper {
    max-height: 510px;
    overflow-y: auto;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    padding: 10px 10px;
  }
  .pagination {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    a {
      color: #535353;
      font-family: "Encode-Sans";
      font-size: 13px;
      letter-spacing: 0.33px;
      line-height: 28px;
      border-radius: 50%;
      padding: 0px 6px;
      border: 1px solid #dbdbdb;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
