.button {
  border-radius: 5px;
  height: 38px;
  width: 141px;

}
.green-btn {
  background-color: #309d7a;
}
.blue-btn {
  background-color: $global-blue;
}
.red-btn {
  background-color: #e66060;
}
